@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* setup */
:root{
   --blue:#2980b9;
   --red:tomato;
   --orange:orange;
   --black:#333;
   --dark-black:black;
   --green:green;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}


/* ===============[CSS "NAVBAR"]=============== */
.header2{
    background-color: var(--dark-black);
    position: sticky;
    top:0; left:0;
    z-index: 1000;
}

.header2 .flex2{
    display: flex;
    align-items: center;
    padding:1.5rem 2rem;
    max-width: 1200px;
    margin:0 auto;
}
 
.header2 .flex2 .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color:var(--white);
}
 
.header2 .flex2 .navbar2 a{
    margin-left: 2rem;
    font-size: 2rem;
    color:var(--white);
}
 
.header2 .flex2 .navbar2 a:hover{
    color:yellow;
}
 
.header2 .flex2 .cart{
    margin-left: 2rem;
    font-size: 2rem;
    color:var(--white);
}
 
.header2 .flex2 .cart:hover{
    color:yellow;
}
 
.header2 .flex2 .cart span{
    padding:.1rem .5rem;
    border-radius: .5rem;
    background-color: var(--white);
    color:var(--blue);
    font-size: 2rem;
}

#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--white);
    display: none;
}




/* ============(FOOTER)============  */
.container-footer{
    max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #000000;
    padding: 70px 0;
    margin-top: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.logo {
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Menyelaraskan item secara vertikal */
}

