@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* setup */
:root{
   --blue:#2980b9;
   --red:tomato;
   --orange:orange;
   --black:#333;
   --white:#fff;
   --bg-color:#eee;
   --dark-bg:rgba(0,0,0,.7);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border:.1rem solid #999;
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}






.heading{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    color:var(--black);
    margin-bottom: 2rem;
}



.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap:1.5rem;
    justify-content: center;
}
 
.products .box-container .box{
    text-align: center;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}
 
.products .box-container .box img{
    height: 25rem;
}
 
.products .box-container .box h3{
    margin:1rem 0;
    font-size: 2.5rem;
    color:var(--black);
}
 
.products .box-container .box .price{
    font-size: 2.5rem;
    color:var(--black);
}






/* ===============[CSS "NAVBAR"]=============== */
.header{
    background-color: var(--blue);
    position: sticky;
    top:0; left:0;
    z-index: 1000;
}

.header .flex{
    display: flex;
    align-items: center;
    padding:1.5rem 2rem;
    max-width: 1200px;
    margin:0 auto;
}
 
.header .flex .logo{
    margin-right: auto;
    font-size: 2.5rem;
    color:var(--white);
}
 
.header .flex .navbar a{
    margin-left: 2rem;
    font-size: 2rem;
    color:var(--white);
}
 
.header .flex .navbar a:hover{
    color:yellow;
}
 
.header .flex .cart{
    margin-left: 2rem;
    font-size: 2rem;
    color:var(--white);
}
 
.header .flex .cart:hover{
    color:yellow;
}
 
.header .flex .cart span{
    padding:.1rem .5rem;
    border-radius: .5rem;
    background-color: var(--white);
    color:var(--blue);
    font-size: 2rem;
}

#menu-btn{
    margin-left: 2rem;
    font-size: 3rem;
    cursor: pointer;
    color:var(--white);
    display: none;
}




/* media queries (Untuk Web-nya Lentur)  */

@media (max-width:1200px){

    .shopping-cart{
       overflow-x: scroll;
    }
 
    .shopping-cart table{
       width: 120rem;
    }
 
    .shopping-cart .heading{
       text-align: left;
    }
 
    .shopping-cart .checkout-btn{
       text-align: left;
    }
 
}
 
@media (max-width:991px){
 
    html{
       font-size: 55%;
    }
 
}
 
@media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
       transition: .2s linear;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       background-color: var(--blue);
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       transition: .2s linear;
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
 
    .header .flex .navbar a{
       margin:2rem;
       display: block;
       text-align: center;
       font-size: 2.5rem;
    }
 
    .display-product-table{
       overflow-x: scroll;
    }
 
    .display-product-table table{
       width: 90rem;
    }
 
}
 
@media (max-width:450px){
 
    html{
       font-size: 50%;
    }
 
    .heading{
       font-size: 3rem;
    }
 
    .products .box-container{
       grid-template-columns: 1fr;
    }
 
}
